@font-face {
    font-family: Jabin;
    src: url(fonts/Jabin-Medium.ttf)
}
@font-face {
    font-family: Edelweiss;
    src: url(fonts/Edelweiss.ttf)
}



html {
    background-color: rgb(179, 212, 255);
}

h1 {
    font-family: Edelweiss;
    text-align: center;
    font-size: 10em;
    margin: .15em;
    color: white;
}

main {
    text-align: center;
}

p {
    font-family: Jabin;
    font-size: 10em;
    margin: .15em;
    color: rgb(247, 112, 135);
}
/*background for first section begins here */

.background {
    background-color: red;
    font-family: Jabin;
    font-size: 10em;
    color:rgb(179, 212, 255);
}